.menu {
    scroll-behavior: smooth;
    white-space: nowrap;
    height: auto;
    max-width: 400px;
}

#menu-list {
    list-style-type: none;
}

.form-control-sm {
    max-width: 100px;
}
li {
    list-style-type: none;
}