.menu {
    scroll-behavior: smooth;
    overflow: hidden;
    height: auto;
    max-width: 400px;
}
.form-control-sm {
    max-width: 100px;
}
.form-group {
    margin: 5px;
}
#cancel-button {
    max-width: fit-content;
}