.menu {
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap;
    height: auto;
}

#menu-list {
    list-style-type: none;
}

.form-control-sm {
    max-width: 50px;
}
li {
    list-style-type: none;
}