.semester{
    overflow-x: scroll;
    color: #ffff;
    margin-top: 5px;
    position: relative; 
}
table {
    overflow-x: scroll;
    max-width: 800px;
    min-width: 200px;
    border: solid;
    border-color: #ffff;
    margin: 0px;
}
Button {
    margin-top: 5px;
    margin-right: 5px;
}
#remove-course-button {
    background-color: #00539F;
    color: white;
    border: none;
    width: 70px;
    margin: 0px;
    margin-bottom: 5px;
}
#edit-course-button {
    background-color: #00539F;
    color: white;
    border: none;
    width: 70px;
    margin: 0px;
}
#cancel-button {
    background-color: #a30000;
    color: white;
    border: none;
    width: 65px;
    margin: 0px;
    margin-top: 5px;
}
.course-menu {
    scroll-behavior: smooth;
    overflow: scroll;
    white-space: nowrap;
    padding: 10px;
    max-height: 300px;
    max-width: 460px;
    margin-top: 10px;
}