.semester{
    overflow-x: scroll;
    color: #ffff;
    margin-bottom: 25px;
    padding: 15px;
    position: relative; 
}
table, th, td {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: white;
}
Button {
    margin-top: 10px;
    margin-right: 10px;
}