.semester{
    -moz-border-radius :5px;
    border-radius: 5px;
    color:#ffff;
    margin-bottom:25px;
    padding:10px 14px 10px 44px;
    position:relative;
    box-shadow:0px 1px 5px #999;
}
.rowC{
    display:flex;
    flex-direction:row;
}