.App {
  background-color: #12232E;
  color: white;
}

.App-header {
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.row{
  display:flex;
}

