.App {
  background-color: #212221;
  color: white;
}
.App-header {
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #00539F;
}
.row {
  display: flex;
}
.col-2 {
  padding-top: 10px;
  background-color: #2c3034;
  min-width: 475px;
}
.col {
  min-width: none;
  max-width: 300px;
}
#schedule-title{
  padding: 10px;
}