.App {
  background-color: #212221;
  color: white;
}

.App-header {
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.row {
  display: flex;
}

.col-3 {
  background-color: #00539F;
  margin-right: 5px;
}
.fake{
  opacity: 0;
}